In [536]:
import pandas as pd
import numpy as np 
from sklearn.pipeline import Pipeline , FeatureUnion

In [537]:
train = pd.read_csv("train.csv" , sep=",")
test = pd.read_csv("test.csv" , sep=",")

In [538]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [539]:
y_train = pd.DataFrame(train['Survived'])
X_train = train.drop(['Survived'] , axis=1)
X_test = test

In [540]:
class Preprocessing():
    def __init__(self , X , y=None):
        self.X = X
    def fit(self , X , y=None):
        return self.X
    def transform(self, X , y=None):
        X.drop(['Ticket'] , axis=1 , inplace=True) 
        X['Sex'] = X['Sex'].map({'female' :1 , 
                                 'male': 0 })
        X['Name'] = X['Name'].str.extract(r'\,(.*?)\.', expand=False)
        X['Name'] = pd.Categorical(X['Name'])
        X['Cabin'] = X['Cabin'].str.replace('\d+', '')
        X['Cabin'] = X['Cabin'].str[:2]      
        return X

In [541]:
prep = Pipeline([
    ('preprocesing'  , Preprocessing(X_train)),   
])

In [542]:
prepa = prep.transform(X_train)

In [543]:
class Encoding():
    def __init__(self , X , y=None):
        self.X = X
    def fit(self, X , y=None):
        return X
    def transform(self , X , y=None):
        em = pd.get_dummies(prepa['Embarked'],prefix=['embarked'], drop_first=True)  

        ti = pd.get_dummies(prepa['Name'],prefix=['title'], drop_first=True) 
        df = pd.concat([em, ti], axis=1)
        return df

In [544]:
enc = Pipeline([
    ('enc' , Encoding(prepa))
])

In [545]:
prep_fr = FeatureUnion(transformer_list=[
    ('preprocesing'  , prep),
    ('encoding' , enc),
    
])

## Exploratory Data Analysis

In [550]:
Cabin = pd.Categorical(prepa['Cabin']).describe()

In [547]:
Name = pd.Categorical(prepa['Name']).describe()

In [551]:
Cabin

            counts     freqs
categories
A               15  0.016835
B               36  0.040404
B               11  0.012346
C               51  0.057239
C                8  0.008979
D               32  0.035915
D                1  0.001122
E               32  0.035915
F                9  0.010101
F                4  0.004489
G                4  0.004489
T                1  0.001122
NaN            687  0.771044

## Models

In [ ]:
## cross walidacja 
## sprawdzenie corss validacji 
## grid search 
## plot precyzja recall
## confusion matrix
## roc_auc _score
## predict proba , descibe